include "outputs.kdl"
include "input.kdl"
include "layout.kdl"
include "keybinds.kdl"
include "rules.kdl"
include "animations.kdl"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swayidle" "-w" \
  "timeout" "300" "swaylock -f" \
  "timeout" "600" "niri msg action power-off-monitors" \
  "before-sleep" "swaylock -f"
