layout {
  gaps 8

  struts {
    left   0
    right  0
    top    0
    bottom 0
  }

  default-column-width { proportion 0.5; }
  center-focused-column "never"

  focus-ring {
    width 2
    active-color   "#89b4fa"
    inactive-color "#45475a"
  }

  border { off }

  shadow {
    on
    softness 30
    spread   5
    offset-x 0
    offset-y 5
    draw-behind-window true
    color "#0000007a"
  }
}
