// niri msg outputs
// wlr-randr


// output "eDP-1" {
//   mode "2560x1600@165.003"
//   scale 2.0
//   position x=0 y=0
// }

// output "DP-1" {
//   mode "2560x1440@144.001"
//   scale 1.0
//   position x=1280 y=0  // half of 2560/scale for the left display
// }