window-rule {
  match app-id="org.gnome.Nautilus" title="Preferences"
  match app-id="pavucontrol"
  match app-id="nm-connection-editor"
  match title="Open File"
  match title="Save File"
  match title="Save As"

  open-floating true
}

window-rule {
  match title="Picture in Picture"
  match title="Picture-in-Picture"

  open-floating true
  open-on-output "eDP-1"
}

window-rule {
  match app-id="firefox"
  open-on-workspace "2"
}

window-rule {
  match app-id="foot" title="scratch"
  open-floating true
  default-column-width { fixed 900; }
  default-window-height { fixed 600; }
}
